name: SSH deploy on push
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: added .env file
        env:
          APP_PORT: ${{ secrets.APP_PORT }}
          APP_HOSTNAME: ${{ secrets.APP_HOSTNAME }}
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          CORS_ORIGIN: ${{ secrets.CORS_ORIGIN }}
        run: ./.github/workflows/deploy/create-env.ps1
        shell: pwsh
      - name: rsync deploy
        uses: burnett01/rsync-deployments@5.2.1
        with:
          switches: -avzr --delete
          path: .
          remote_host: ${{ secrets.REMOTE_HOST }}
          remote_user: ${{ secrets.REMOTE_USER }}
          remote_key: ${{ secrets.REMOTE_KEY }}
          remote_path: ${{ secrets.REMOTE_PATH }}
